
body {

	background-color: #f7f8f9;
	font-family: 'Roboto';

}

p {
	font-size: 25px;
}

canvas {
	border: 5px;
	border-style: solid;
	position: relative;
}

.imageContainer {
	border: 5px;
	border-style: solid;
	position: relative;
	width: 800px;
	height: 600px;
	background-image: url("goat.jpg");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}



#overlayImage {
	position: absolute;
	left: -50px;
	bottom: -50px;

}

