
body {

	background-color: #f7f8f9;
	font-family: 'Roboto';

}

p {
	font-size: 25px;
}

canvas {
	border: 5px #3F3F3F;
	border-style: solid;
	position: relative;
	width: 1080px;
	height: 1080px;
}

#mainTitleContainer {
	
}

#title {
	font-family: "avenir";
	font-weight: 100;
}

#mainImageContainer {
	border: 5px #3F3F3F;
	border-style: solid;
	position: relative;
	width: 1080px;
	height: 1080px;
	
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-position: center center; 

}



.buttonContainer {
	display: flex-inline;
	position: relative;
	float: left;
	
}

.button {
	/*http://codepen.io/Pixcils/pen/KfzFL*/
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;	   
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    font-weight: 700;	
    font-size: 18px;
	width: 350px

}

#uploadButton {
	border-color: #004C98;
    background-color: #004C98;
	padding: 12px 5px;
}
#uploadButton:hover, #uploadButton:focus, #uploadButton:active {
	background-color: #006CD7;
}
#leftButton:hover, #leftButton:focus, #leftButton:active,
#rightButton:hover, #rightButton:focus, #rightButton:active{
    background-color: #46D4D2;
}
#saveButton {
	width: 360px;
	height: 60px;
	padding: 0px 0px 10px 0px;
	border-color: #EABC09;
	background-color: #FFCC00;
}
#saveButton:hover, #saveButton:focus, #saveButton:active {
    background-color: #FFE47F;
}

#saveLink {
	font-family: "avenir";
	font-weight: 100;	
    font-size: 5px;
}

#leftButton, #rightButton {
	border-color: #2F8E8D;
    background-color: #339999;
	width: 360px;
	margin-bottom: 3px;

}

.sliderContainer {
	padding: 15px 10px 0px 10px;
	text-align: center;
}

#slider {
	width: 100%;
}

#overlayImage {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;

}
